<div class="col-sm-6 col-sm-offset-3">

<h1>Edit Client</h1>

<%= render 'form' %>

<div class="link-action">
&#62;<%= link_to 'Show', @client %> <br>
&#62;<%= link_to 'Back', clients_path %>

</div>
