<div class="col-sm-6 col-sm-offset-3">

<p id="notice"><%= notice %></p>

<h1>

  <%= @client.name %>
</h1>

<div class="link-action">
&#62;<%= link_to 'Edit', edit_client_path(@client) %><br>
&#62;<%= link_to 'Index', clients_path %>
</div>
</div>